@use '../../sass' as *;

.search {
  margin: 10rem 6rem 0 6rem;

  @include mobile {
    margin: 8rem 2rem 0 2rem;
  }

  input {
    width: 100%;
    padding: 1.5rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;

    @include mobile {
      padding: 1rem;
      font-size: 1.4rem;
    }
  }

  &__suggestion {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;

    border-radius: 0.4rem;
    background-color: $color-primary-light;
  }
}
